<!DOCTYPE html>
<html>
  <head>
    <title>Flask Template Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
      .container {
        font-size: 15px;
        max-width: 500px;
        padding: 50px;
      }
    </style>
  </head>
  <body>
    
    <div class="container">
      <h2> Student Info </h2>
      <form method="post" action="/api/post">
        <lable>Student ID:</lable>
          <input type="text" id="sid" name="sid"><br>
      First Name: <input type="text" id="firstname" name="firstname"><br>
      Last Name: <input type="text" name="lastname"><br>
      Email: <input type="text" id="email" name="email"><br>
      Mailing Address: <input type="text" name="address"><br>
      GPA: <input type="text" name="gpa"><br>
      <br>
      <input type="submit" value="Submit"><br>

    </div>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>